In [1]:
# slat
import pandas as pd
path = "C:\\Users\\wikto\\OneDrive\\Pulpit\\uczelnia\\sem6\\Licencjat\\archive\MementoML.csv"
mem = pd.read_csv(path)

In [5]:
mem.head(10)

   dataset  row_index     model  param_index          time       acc       auc
0     1485          1  catboost         1001  8.037273e+11  0.540385  0.908843
1     1485          2  catboost         1001  7.783612e+11  0.507692  0.931537
2     1485          3  catboost         1001  7.726514e+11  0.498077  0.941005
3     1485          4  catboost         1001  7.933208e+11  0.494231  0.909722
4     1485          5  catboost         1001  7.974151e+11  0.513462  0.926722
5     1485          6  catboost         1001  7.976015e+11  0.517308  0.917742
6     1485          7  catboost         1001  8.236557e+11  0.463462  0.903538
7     1485          8  catboost         1001  8.273041e+11  0.505769  0.911586
8     1485          9  catboost         1001  8.187873e+11  0.505769  0.902739
9     1485         10  catboost         1001  8.428546e+11  0.538462  0.932872

In [6]:
mem[mem["model"] == "catboost"]

,dataset,row_index,model,param_index,time,acc,auc
0,1485,1,catboost,1001,8.037273e+11,0.540385,0.908843
1,1485,2,catboost,1001,7.783612e+11,0.507692,0.931537
2,1485,3,catboost,1001,7.726514e+11,0.498077,0.941005
3,1485,4,catboost,1001,7.933208e+11,0.494231,0.909722
4,1485,5,catboost,1001,7.974151e+11,0.513462,0.926722
...,...,...,...,...,...,...,...
3787564,31,5,catboost,703,1.814492e+12,0.710000,0.767241
3787565,31,6,catboost,703,1.802382e+12,0.700000,0.762262
3787566,31,7,catboost,703,2.459953e+12,0.655000,0.767120
3787567,31,8,catboost,703,2.444363e+12,0.675000,0.737778
3787568,31,9,catboost,703,2.345493e+12,0.735000,0.769991

In [7]:
model_names = pd.unique(mem["model"])

array(['catboost', 'gbm', 'xgboost', 'randomForest', 'ranger', 'svm',
       'glmnet', 'kknn', 'bartMachine', 'agtboost'], dtype=object)

In [18]:
# Group by 'dataset' and 'param_index' and calculate the mean of 'auc'
mean_auc_by_dataset_and_param = mem.groupby(['dataset', 'param_index', "model"])['auc'].mean().reset_index()

# Sort the means in descending order to get the ranking
ranked_mean_auc = mean_auc_by_dataset_and_param.sort_values(by='auc', ascending=False).reset_index(drop=True)

In [30]:
cb =mean_auc_by_dataset_and_param[mean_auc_by_dataset_and_param["model"] == "catboost"]

In [14]:
cb

        dataset  param_index     model       auc
1             3            1  catboost  0.996465
9             3            2  catboost  0.999333
17            3            3  catboost  0.994699
25            3            4  catboost  0.999073
33            3            5  catboost  0.998986
...         ...          ...       ...       ...
179756     4534          442  catboost  0.994421
179758     4534          443  catboost  0.991447
179760     4534          444  catboost  0.993941
179762     4534          445  catboost  0.994746
179764     4534          446  catboost  0.993712

[4675 rows x 4 columns]

In [31]:
mean_auc_by_dataset_and_param[mean_auc_by_dataset_and_param["model"] == "catboost"].size

18700

In [34]:
cb['rank']

KeyError: 'rank'

In [42]:
def getDatasetEval(data, model):
    if 'model' not in data.columns:
        raise TypeError
    if data['model'].isin([model]).any():
        raise TypeError
    modelDataset = data[data["model"] == model]
    return modelDataset

In [43]:
getDatasetEval(mem, "catboost")

TypeError:

In [47]:
mem['model'].isin([""]).any()

False

In [49]:
mem.columns

Index(['dataset', 'row_index', 'model', 'param_index', 'time', 'acc', 'auc'], dtype='object')